
:host{
  position: relative;
  height: unset;
  margin: 0;
}

.container {
  width: 400%;
  height: 100vh;
  display: flex;
  flex-wrap: nowrap;

}

.firstContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: yellow;
}

.lastContainer {
  display: flex;
  height: 100vh;
  background: yellow;
  text-align: "center";
}

.panel{
  width: 100vw;
};

.red{
  background: red;
}

.orange{
  background: orange;
}

.blue{
  background: blue;
}

.purple{
  background: purple;
}
