
app-hero-section{
  display: block;
  height: 100%;
}

app-about-me{
  display: block;
  height: 100%;
}

app-what-im-doing{
  display: block;
  height: 100%;
}

app-my-mission{
  display: block;
  height: 100%;
}

