.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #1A132A;

  color: white;
}




button{
  all: unset;
  text-align: center;
  font-weight: 200;
  font-size: 84px;
  background-color: rgb(42, 12, 160);
  padding: 64px;
}

button:hover{
  color: black;
  background-color: rgb(92, 233, 82);
}
img{
  width: 1250px;
}

.logo{
  display: flex;
  justify-content: center;
}
