.wrapper{
  height: 100%;
  letter-spacing: -4%;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 256px;
}

.title{
  padding: 32px;
  width: 450px;
  border: 1px solid green;
  background: #E0FF56;

}

p{
  font-weight: 500;
  font-size: 40px;
  line-height: 80px;
  width: 1000px;
}

.text-section{
  background: #E0FF56;
  padding: 32px;
  border-radius: 4px;
}
