.wrapper{
  height: 100%;

  color: white;
  letter-spacing: -4%;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 256px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 400px;
  background: #d02822;
  padding: 32px;

}

p{
  font-weight: 500;
  font-size: 40px;
  line-height: 80px;
  width: 1000px;
  padding: 32px;
  background: #d02822;
}
