.wrapper{
  height: 100%;
  background: #FF8E5D;
  letter-spacing: -4%;
  font-size: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 256px;
}

.title{
  width: 500px;

}

p{
  font-weight: 500;
  font-size: 40px;
  line-height: 80px;
  width: 1000px;
}
